<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>产品记录</title>
</head>
<body>
<h1>产品记录</h1>

<h2>产品详情</h2>
<p>产品名称: <span th:text="${product.productName}"></span></p>
<p>条形码: <span th:text="${product.barcode}"></span></p>
<p>类别: <span th:text="${product.category}"></span></p>
<p>价格: <span th:text="${product.price}"></span></p>
<p>描述: <span th:text="${product.description}"></span></p>
<p>库存: <span th:text="${product.stock}"></span></p>

<h2>入库记录</h2>
<table>
    <thead>
    <tr>
        <th>入库ID</th>
        <th>供应商</th>
        <th>数量</th>
        <th>日期</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${inboundRecords}">
        <td th:text="${record.Id}"></td>
        <td th:text="${record.supplier.supplierName}"></td>
        <td th:text="${record.quantity}"></td>
        <td th:text="${record.inboundDate}"></td>
    </tr>
    </tbody>
</table>

<h2>出库记录</h2>
<table>
    <thead>
    <tr>
        <th>出库ID</th>
        <th>数量</th>
        <th>日期</th>
        <th>去向</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${outboundRecords}">
        <td th:text="${record.Id}"></td>
        <td th:text="${record.quantity}"></td>
        <td th:text="${record.outboundDate}"></td>
        <td th:text="${record.destination}"></td>
    </tr>
    </tbody>
</table>
<a href="http://localhost:8080/">返回主页</a>

</body>
</html>
